<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Solicitar una Cuenta</title>
    <style type="text/css">
        body { background-color: #FFF !important;}
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
        
        /* Set height of the grid so .sidenav can be 100% ( adjust as needed) */
        .row.content {height: 450px}
    
        /* Set gray background color and 100% height */
        .sidenav {
          padding-top: 20px;
          background-color: transparent;
          height: 100%;
        }
        
        /* Set black background color, white text and some padding */
        footer {
          background-color: #555;
          color: white;
          padding: 15px;
        }
    
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height:auto;} 
        }
        .person {
            border: 10px solid transparent;
            width: 65%;
            height: 65%;
        }
        .person:hover {
            border-collapse: #f1f1f1;
        }
        .jumbotron {
            background-color: transparent;
        }
        .fotoNoticia {
            text-align: right;
            height: auto;
            width: auto;
            max-height: 240px;
            max-width: 320px;
        }
      .btn-info {
        background: black !important;
        border: black !important;
        opacity: 0.85;
      }
      .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background: black;
}
.btn-info:active, .btn-info.active {
    background: black;
    box-shadow: none;
}
    </style>
</head>
<body>
<div class="jumbotron">
    <div class="row text-center">
        <div class ="col-sm-4 text-right">
            <%=image_tag('logo.jpg', :class => 'img-circle person')%>
        </div>
        <div class="col-sm-8 text-left">
            <h1>Archivo de Música</h1>
            <p> de la Biblioteca Nacional.</p>
        </div>
    </div>  
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Exposición</a></li>
        <li><a href="#">Información</a></li>
        <li class="active"><a href="#">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
    <div class="row">
        <div class="col-sm-2 sidenav">
          
        </div>
        <div class="col-sm-8 text-left"> 
            <strong>Ha ocurrido un error. Por favor contáctese con el administrador.</strong>
            <hr>
        </div>
        <div class="col-sm-2 sidenav">
            <a href="#" class="btn btn-info btn-block" role="button">Facebook</a>
        <br>    
        <a href="#" class="btn btn-info btn-block" role="button">Twitter</a>
        </div>
    </div>
</div>



<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

<body>
</html>
